<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>棋手排名</title>
  <link rel="stylesheet" href="../static/css/mdui.min.css"/>
</head>
<body>

  <div class="mdui-container">
    <div class="mdui-panel" mdui-panel>
   
      <div class="mdui-panel-item">
        <div class="mdui-panel-item-header">
          <div class="mdui-panel-item-title">排名</div>
          <div class="mdui-panel-item-summary">姓名</div>
          <div class="mdui-panel-item-summary">国籍</div>
          <div class="mdui-panel-item-summary">ELO等级分</div>
          <!-- <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i> -->
        </div>
        <div class="mdui-panel-item-body">
 {% for data in datas %}
                <div class="mdui-panel-item-header">
                    <div class="mdui-panel-item-summary">{{data.rank}}</div>
                    <div class="mdui-panel-item-summary">{{data.name}}</div>
                    <div class="mdui-panel-item-summary">{{data.nationality}}</div>
                    <div class="mdui-panel-item-summary">{{data.level}}</div>
                  </div>
  {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <script src="../static/css/mdui.min.js"></script>
</body>
</html>