<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="Description" content="围棋选手排名" />
  <meta name="Keywords" content="围棋,排名,围棋选手,柯洁,申真谞,李轩豪" />
  <title>棋手排名</title>
  <link rel="stylesheet" href="../static/css/mdui.min.css"/>
</head>
<body>

  <div class="mdui-container">
    <div class="mdui-panel" mdui-panel>
      <div class="mdui-typo-title"><center>围棋选手排名</center></div>
      <div class="mdui-panel-item mdui-panel-item-open">
       
     <style>
      
     </style>
       
        <div class="mdui-panel-item-body mdui-typo ">
           <div class="mdui-panel-item-header mdui-valign">
          <div class="mdui-panel-item-summary">排名</div>
          <div class="mdui-panel-item-summary">姓名</div>
          <div class="mdui-panel-item-summary">性别</div>
          <div class="mdui-panel-item-summary">等级分</div>
          <div class="mdui-panel-item-summary">国籍</div>
          <!-- <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i> -->
        </div>
 {% for data in datas %}
                <div class="mdui-panel-item-header mdui-valign">
                    <div class="mdui-panel-item-summary"><kbd>{{data.rank}}</kbd></div>
                    <div class="mdui-panel-item-summary"><a href="{{data.link}}"><strong>{{data.name}}</strong></a></div>
                    <div class="mdui-panel-item-summary" style="{{data.genderColor}}">{{data.gender}}</div>
                    <div class="mdui-panel-item-summary">{{data.level}}</div>
                    <img src="../static/{{data.nationality}}.svg" class="mdui-panel-item-summary" width="23" height="23" />
                  </div>
  {% endfor %}

        </div>
      </div>
    </div>
    <div class="mdui-typo">
      <blockquote>
        <p>绝艺如君天下少，闲人似我世间无。
          别后竹窗风雪夜，一灯明暗覆吴图。</p>
        <footer> ——杜牧</footer>
      </blockquote>
    </div>
  </div>

  <script src="../static/js/mdui.min.js"></script>
</body>
</html>